body {
    padding: 0px;
    margin: 0px;
}

div.idol, div.list-idol {
    width: 285px;
    border: 1px solid #ccc;
    margin: 25px;
    padding: 10px;
    float: left;
}

div.list-idol {
    width: 850px;
}

h3 {
    padding: 0px;
    margin-top: 0px;
}

div.idol label {
    width: 100px;
    float: left;
}

div.idol input[type="text"] {
    width: 170px;
    margin-bottom: 10px;
    padding: 5px;
}

div.idol button {
    border-radius: 3px;
    width: 60px;
}